<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Raneen Suite">
    <!-- test result listener -->
    <listeners>
        <listener class-name="Listeners.ITestResultListenerClass"/>
    </listeners>
    <!-- Invoke listener -->
    <listeners>
        <listener class-name="Listeners.IInvokedMethodListenerClass"/>
    </listeners>
    <test thread-count="5" name="raneen-cloud-Jenkins">
        <classes>
            <class name="Tests.HomePageCategoryViewENTest">
                <methods>
                    <include name="open_screen_setup"/>
                </methods>
            </class> <!-- Tests.HomePageCategoryViewENTest -->
        </classes>
    </test> <!-- raneen-cloud-Jenkins -->
</suite> <!-- Raneen Suite -->
